body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u3179 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u3179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1051px;
}
#u3180 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:1050px;
}
#u3180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:1036px;
}
#u3181 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:1035px;
}
#u3181_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:1036px;
}
#u3182 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:1035px;
}
#u3182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3183 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u3183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u3184 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u3184_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u3185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u3185 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:77px;
  height:19px;
  font-family:'黑体  Bold', '黑体 ';
  font-weight:700;
  font-style:normal;
}
#u3185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3186 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u3186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u3187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3188 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3189 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3190 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3191 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3192 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3192_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:55px;
}
#u3193 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:122px;
  width:250px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u3193_img.mouseOver {
}
#u3193.mouseOver {
}
#u3193_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:218px;
  white-space:nowrap;
}
#u3194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:100px;
}
#u3194 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:412px;
  width:1145px;
  height:99px;
}
#u3194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3196 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:420px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3197 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:420px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3198 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:420px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3198_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u3199 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:420px;
  width:284px;
  height:40px;
  text-align:left;
}
#u3199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u3200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:420px;
  width:207px;
  height:40px;
  text-align:left;
}
#u3200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u3201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:542px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u3201_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u3202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:378px;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:584px;
  width:1145px;
  height:377px;
}
#u3202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:55px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:592px;
  width:1031px;
  height:54px;
  text-align:left;
}
#u3203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1027px;
  word-wrap:break-word;
}
#u3204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:656px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:656px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:696px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:696px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:736px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:736px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3209_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:776px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3210_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:776px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3211_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:816px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3212_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3213 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:816px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3213_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3214 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:856px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3215 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:856px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3215_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3216 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:896px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3217_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3217 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:896px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u3218 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:963px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u3218_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u3219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:134px;
}
#u3219 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1005px;
  width:1145px;
  height:133px;
}
#u3219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3220 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1009px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3221 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1009px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3222 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1049px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3223 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1049px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3223_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3224 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1089px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3224_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3225 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1089px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3225_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u3226 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:372px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u3226_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u3227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:137px;
}
#u3227 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:226px;
  width:1145px;
  height:136px;
}
#u3227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u3228 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:186px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u3228_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u3229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3230 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:236px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3231 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:236px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3232 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:236px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:41px;
}
#u3233 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:236px;
  width:491px;
  height:40px;
  text-align:left;
}
#u3233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:487px;
  word-wrap:break-word;
}
#u3234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3234 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:276px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3234_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3235 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:316px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3235_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3236 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:460px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3237 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:460px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u3238 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:460px;
  width:671px;
  height:40px;
  text-align:left;
}
#u3238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
