body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:137px;
}
#u4893 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:90px;
  width:1145px;
  height:136px;
}
#u4893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4894 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4894_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4895 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4896 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:100px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4896_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4897 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:100px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4898 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:100px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:41px;
}
#u4899 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:100px;
  width:491px;
  height:40px;
  text-align:left;
}
#u4899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:487px;
  word-wrap:break-word;
}
#u4900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4900 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:140px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4901 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:180px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
