body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4130 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u4131 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u4131_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:1051px;
}
#u4132 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:1050px;
}
#u4132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:1036px;
}
#u4133 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:1035px;
}
#u4133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:1036px;
}
#u4134 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:1035px;
}
#u4134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4135 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4135_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u4136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u4136 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u4137 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:77px;
  height:19px;
  font-family:'黑体  Bold', '黑体 ';
  font-weight:700;
  font-style:normal;
}
#u4137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u4138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u4138 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u4138_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4140 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4140_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4141 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4142_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4142 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4142_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4143 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4143_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4144 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:55px;
}
#u4145 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:122px;
  width:250px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u4145_img.mouseOver {
}
#u4145.mouseOver {
}
#u4145_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:218px;
  white-space:nowrap;
}
#u4146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:100px;
}
#u4146 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:412px;
  width:1145px;
  height:99px;
}
#u4146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4148 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:420px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4149 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:420px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4150 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:420px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u4151 {
  border-width:0px;
  position:absolute;
  left:1127px;
  top:420px;
  width:284px;
  height:40px;
  text-align:left;
}
#u4151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u4152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u4152 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:420px;
  width:207px;
  height:40px;
  text-align:left;
}
#u4152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u4153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4153 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:542px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4153_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:378px;
}
#u4154 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:584px;
  width:1145px;
  height:377px;
}
#u4154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:55px;
}
#u4155 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:592px;
  width:1031px;
  height:54px;
  text-align:left;
}
#u4155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1027px;
  word-wrap:break-word;
}
#u4156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4156 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:656px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4157 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:656px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4158 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:696px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4159 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:696px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4160 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:736px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4161 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:736px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4162 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:776px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4163 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:776px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4164 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:816px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4165 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:816px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4166 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:856px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4167 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:856px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4168 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:896px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4169 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:896px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4170 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:963px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4170_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:134px;
}
#u4171 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:1005px;
  width:1145px;
  height:133px;
}
#u4171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4172 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1009px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4173 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1009px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4174 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1049px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4175 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1049px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4176 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:1089px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4177 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:1089px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4178 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:372px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4178_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:137px;
}
#u4179 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:226px;
  width:1145px;
  height:136px;
}
#u4179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4180 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:186px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4180_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4182 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:236px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4183 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:236px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4183_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4184 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:236px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:492px;
  height:41px;
}
#u4185 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:236px;
  width:491px;
  height:40px;
  text-align:left;
}
#u4185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:487px;
  word-wrap:break-word;
}
#u4186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4186 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:276px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4186_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4187 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:316px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4187_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4188 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:460px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4189 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:460px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u4190 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:460px;
  width:671px;
  height:40px;
  text-align:left;
}
#u4190_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
