body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u51 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:100px;
  width:300px;
  height:534px;
}
#u51_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u51_ref {
  border-width:0px;
  position:absolute;
  left:392px;
  top:624px;
  width:1px;
  height:1px;
}
#u52 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:100px;
  width:300px;
  height:534px;
}
#u52_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u52_ref {
  border-width:0px;
  position:absolute;
  left:872px;
  top:624px;
  width:1px;
  height:1px;
}
#u53 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:100px;
  width:300px;
  height:534px;
}
#u53_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u53_ref {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:624px;
  width:1px;
  height:1px;
}
#u54 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:750px;
  width:300px;
  height:534px;
}
#u54_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u54_ref {
  border-width:0px;
  position:absolute;
  left:1292px;
  top:1274px;
  width:1px;
  height:1px;
}
#u55 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:750px;
  width:300px;
  height:534px;
}
#u55_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u55_ref {
  border-width:0px;
  position:absolute;
  left:872px;
  top:1274px;
  width:1px;
  height:1px;
}
#u56 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:750px;
  width:300px;
  height:534px;
}
#u56_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u56_ref {
  border-width:0px;
  position:absolute;
  left:392px;
  top:1274px;
  width:1px;
  height:1px;
}
#u57 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1400px;
  width:300px;
  height:534px;
}
#u57_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u57_ref {
  border-width:0px;
  position:absolute;
  left:392px;
  top:1924px;
  width:1px;
  height:1px;
}
#u58 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1400px;
  width:300px;
  height:534px;
}
#u58_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u58_ref {
  border-width:0px;
  position:absolute;
  left:872px;
  top:1924px;
  width:1px;
  height:1px;
}
#u59 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:2036px;
  width:300px;
  height:534px;
}
#u59_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u59_ref {
  border-width:0px;
  position:absolute;
  left:392px;
  top:2560px;
  width:1px;
  height:1px;
}
#u60 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:367px;
  width:0px;
  height:0px;
}
#u60_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u60_seg1 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-9px;
  width:18px;
  height:18px;
}
#u60_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u61 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:367px;
  width:0px;
  height:0px;
}
#u61_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:124px;
  height:8px;
}
#u61_seg1 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:-9px;
  width:18px;
  height:18px;
}
#u61_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u62 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:634px;
  width:0px;
  height:0px;
}
#u62_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:120px;
}
#u62_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:104px;
  width:18px;
  height:18px;
}
#u62_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u63 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:1017px;
  width:0px;
  height:0px;
}
#u63_seg0 {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-4px;
  width:124px;
  height:8px;
}
#u63_seg1 {
  border-width:0px;
  position:absolute;
  left:-126px;
  top:-9px;
  width:18px;
  height:18px;
}
#u63_text {
  border-width:0px;
  position:absolute;
  left:-110px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u64 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:1017px;
  width:0px;
  height:0px;
}
#u64_seg0 {
  border-width:0px;
  position:absolute;
  left:-180px;
  top:-4px;
  width:184px;
  height:8px;
}
#u64_seg1 {
  border-width:0px;
  position:absolute;
  left:-186px;
  top:-9px;
  width:18px;
  height:18px;
}
#u64_text {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u65 {
  border-width:0px;
  position:absolute;
  left:250px;
  top:1284px;
  width:0px;
  height:0px;
}
#u65_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:120px;
}
#u65_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:104px;
  width:18px;
  height:18px;
}
#u65_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:50px;
  width:100px;
  word-wrap:break-word;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:1667px;
  width:0px;
  height:0px;
}
#u66_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:184px;
  height:8px;
}
#u66_seg1 {
  border-width:0px;
  position:absolute;
  left:168px;
  top:-9px;
  width:18px;
  height:18px;
}
#u66_text {
  border-width:0px;
  position:absolute;
  left:40px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:1017px;
  width:0px;
  height:0px;
}
#u67_seg0 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:57px;
  height:8px;
}
#u67_seg1 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:-4px;
  width:8px;
  height:1294px;
}
#u67_seg2 {
  border-width:0px;
  position:absolute;
  left:-57px;
  top:1282px;
  width:57px;
  height:8px;
}
#u67_seg3 {
  border-width:0px;
  position:absolute;
  left:-12px;
  top:1277px;
  width:18px;
  height:18px;
}
#u67_text {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:635px;
  width:100px;
  word-wrap:break-word;
}
