body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1382px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1333px;
  height:729px;
}
#u120 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1332px;
  height:728px;
}
#u120_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u121 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:142px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u121_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u122_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u122 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:127px;
  width:100px;
  height:60px;
}
#u122_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u123_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:41px;
}
#u123 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:92px;
  width:127px;
  height:40px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u123_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  word-wrap:break-word;
}
#u124_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:127px;
  width:100px;
  height:60px;
}
#u124_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:157px;
  width:0px;
  height:0px;
}
#u125_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u125_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-9px;
  width:18px;
  height:18px;
}
#u125_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u126_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:21px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:94px;
  width:143px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u126_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  white-space:nowrap;
}
#u127_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:1042px;
  top:127px;
  width:100px;
  height:60px;
}
#u127_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:1279px;
  top:142px;
  width:30px;
  height:30px;
  font-size:11px;
}
#u128_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:26px;
  word-wrap:break-word;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:157px;
  width:0px;
  height:0px;
}
#u129_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:119px;
  height:8px;
}
#u129_seg1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:-9px;
  width:18px;
  height:18px;
}
#u129_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130 {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:157px;
  width:0px;
  height:0px;
}
#u130_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:141px;
  height:8px;
}
#u130_seg1 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:-9px;
  width:18px;
  height:18px;
}
#u130_text {
  border-width:0px;
  position:absolute;
  left:18px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u131 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:127px;
  width:100px;
  height:60px;
}
#u131_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u132 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:273px;
  width:100px;
  height:60px;
}
#u132_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:21px;
}
#u133 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:343px;
  width:185px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  white-space:nowrap;
}
#u134 {
  border-width:0px;
  position:absolute;
  left:927px;
  top:303px;
  width:0px;
  height:0px;
}
#u134_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:371px;
  height:8px;
}
#u134_seg1 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:-131px;
  width:8px;
  height:135px;
}
#u134_seg2 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:-137px;
  width:18px;
  height:18px;
}
#u134_text {
  border-width:0px;
  position:absolute;
  left:199px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:501px;
  top:157px;
  width:0px;
  height:0px;
}
#u135_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:117px;
  height:8px;
}
#u135_seg1 {
  border-width:0px;
  position:absolute;
  left:101px;
  top:-9px;
  width:18px;
  height:18px;
}
#u135_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:21px;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:401px;
  top:92px;
  width:129px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u137 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:127px;
  width:100px;
  height:60px;
}
#u137_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:21px;
}
#u138 {
  border-width:0px;
  position:absolute;
  left:189px;
  top:92px;
  width:99px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u139 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:157px;
  width:0px;
  height:0px;
}
#u139_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:88px;
  height:8px;
}
#u139_seg1 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:-9px;
  width:18px;
  height:18px;
}
#u139_text {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u140 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:157px;
  width:0px;
  height:0px;
}
#u140_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:116px;
  height:8px;
}
#u140_seg1 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:-9px;
  width:18px;
  height:18px;
}
#u140_text {
  border-width:0px;
  position:absolute;
  left:6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141 {
  border-width:0px;
  position:absolute;
  left:664px;
  top:187px;
  width:0px;
  height:0px;
}
#u141_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:120px;
}
#u141_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:112px;
  width:167px;
  height:8px;
}
#u141_seg2 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:107px;
  width:18px;
  height:18px;
}
#u141_text {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:108px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:493px;
  width:886px;
  height:250px;
}
#u143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:30px;
}
#u143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u144 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:0px;
  width:153px;
  height:30px;
}
#u144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
}
#u145 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:0px;
  width:84px;
  height:30px;
}
#u145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:127px;
  height:30px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:0px;
  width:127px;
  height:30px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:0px;
  width:127px;
  height:30px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:0px;
  width:125px;
  height:30px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:143px;
  height:30px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:30px;
  width:153px;
  height:30px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:149px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:30px;
  width:84px;
  height:30px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:80px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:30px;
  width:127px;
  height:30px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:30px;
  width:127px;
  height:30px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:30px;
  width:127px;
  height:30px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:123px;
  word-wrap:break-word;
}
#u156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:30px;
  width:125px;
  height:30px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:45px;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:143px;
  height:44px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:139px;
  word-wrap:break-word;
}
#u158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:45px;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:60px;
  width:153px;
  height:44px;
  text-align:left;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:45px;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:60px;
  width:84px;
  height:44px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:80px;
  word-wrap:break-word;
}
#u160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:60px;
  width:127px;
  height:44px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:60px;
  width:127px;
  height:44px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:123px;
  word-wrap:break-word;
}
#u162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:45px;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:60px;
  width:127px;
  height:44px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:123px;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:45px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:60px;
  width:125px;
  height:44px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:121px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:31px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:104px;
  width:143px;
  height:30px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:139px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:31px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:104px;
  width:153px;
  height:30px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:31px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:104px;
  width:84px;
  height:30px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:104px;
  width:127px;
  height:30px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:104px;
  width:127px;
  height:30px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:31px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:104px;
  width:127px;
  height:30px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:104px;
  width:125px;
  height:30px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:117px;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:134px;
  width:143px;
  height:116px;
}
#u171_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:139px;
  word-wrap:break-word;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:117px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:134px;
  width:153px;
  height:116px;
  text-align:left;
}
#u172_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:149px;
  word-wrap:break-word;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:117px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:134px;
  width:84px;
  height:116px;
}
#u173_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:80px;
  word-wrap:break-word;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:117px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:134px;
  width:127px;
  height:116px;
}
#u174_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:123px;
  word-wrap:break-word;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:117px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:134px;
  width:127px;
  height:116px;
}
#u175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:123px;
  word-wrap:break-word;
}
#u176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:117px;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:134px;
  width:127px;
  height:116px;
}
#u176_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:123px;
  word-wrap:break-word;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:117px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:134px;
  width:125px;
  height:116px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:121px;
  word-wrap:break-word;
}
