body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:297px;
  height:532px;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:533px;
}
#u16_ref {
  border-width:0px;
  position:absolute;
  left:339px;
  top:572px;
  width:1px;
  height:1px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:50px;
  width:300px;
  height:532px;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:533px;
}
#u17_ref {
  border-width:0px;
  position:absolute;
  left:742px;
  top:572px;
  width:1px;
  height:1px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:50px;
  width:300px;
  height:718px;
}
#u18_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:719px;
}
#u18_ref {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:758px;
  width:1px;
  height:1px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:50px;
  width:300px;
  height:534px;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u19_ref {
  border-width:0px;
  position:absolute;
  left:1582px;
  top:574px;
  width:1px;
  height:1px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:902px;
  width:300px;
  height:534px;
}
#u20_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u20_ref {
  border-width:0px;
  position:absolute;
  left:1582px;
  top:1426px;
  width:1px;
  height:1px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:902px;
  width:300px;
  height:534px;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u21_ref {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:1426px;
  width:1px;
  height:1px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1583px;
  width:300px;
  height:534px;
}
#u22_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u22_ref {
  border-width:0px;
  position:absolute;
  left:1582px;
  top:2107px;
  width:1px;
  height:1px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:902px;
  width:300px;
  height:534px;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u23_ref {
  border-width:0px;
  position:absolute;
  left:742px;
  top:1426px;
  width:1px;
  height:1px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1583px;
  width:300px;
  height:534px;
}
#u24_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u24_ref {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:2107px;
  width:1px;
  height:1px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:902px;
  width:300px;
  height:534px;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u25_ref {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1426px;
  width:1px;
  height:1px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:316px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u26_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u26_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-9px;
  width:18px;
  height:18px;
}
#u26_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:316px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u27_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u27_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-4px;
  width:8px;
  height:101px;
}
#u27_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:89px;
  width:57px;
  height:8px;
}
#u27_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:84px;
  width:18px;
  height:18px;
}
#u27_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:633px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u28_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u28_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-320px;
  width:8px;
  height:324px;
}
#u28_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-320px;
  width:64px;
  height:8px;
}
#u28_seg3 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-325px;
  width:18px;
  height:18px;
}
#u28_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-158px;
  width:100px;
  word-wrap:break-word;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:584px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u29_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:322px;
}
#u29_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:306px;
  width:18px;
  height:18px;
}
#u29_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:152px;
  width:100px;
  word-wrap:break-word;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u30_seg0 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-4px;
  width:144px;
  height:8px;
}
#u30_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-9px;
  width:18px;
  height:18px;
}
#u30_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u31_seg0 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:104px;
  height:8px;
}
#u31_seg1 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-9px;
  width:18px;
  height:18px;
}
#u31_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u32_seg0 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-4px;
  width:107px;
  height:8px;
}
#u32_seg1 {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:-9px;
  width:18px;
  height:18px;
}
#u32_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:1436px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u33_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:151px;
}
#u33_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:135px;
  width:18px;
  height:18px;
}
#u33_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1850px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u34_seg0 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-4px;
  width:144px;
  height:8px;
}
#u34_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-9px;
  width:18px;
  height:18px;
}
#u34_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1850px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u35_seg0 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:254px;
  height:8px;
}
#u35_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-414px;
  width:8px;
  height:418px;
}
#u35_seg2 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:-420px;
  width:18px;
  height:18px;
}
#u35_text {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:-97px;
  width:100px;
  word-wrap:break-word;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:2221px;
  width:300px;
  height:534px;
}
#u36_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u36_ref {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:2745px;
  width:1px;
  height:1px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:1000px;
  top:2117px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u37_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:108px;
}
#u37_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:92px;
  width:18px;
  height:18px;
}
#u37_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:44px;
  width:100px;
  word-wrap:break-word;
}
