body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:107px;
  width:375px;
  height:667px;
}
#u38_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u38_ref {
  border-width:0px;
  position:absolute;
  left:437px;
  top:764px;
  width:1px;
  height:1px;
}
#u39 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:107px;
  width:375px;
  height:667px;
}
#u39_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u39_ref {
  border-width:0px;
  position:absolute;
  left:886px;
  top:764px;
  width:1px;
  height:1px;
}
#u40 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:107px;
  width:375px;
  height:915px;
}
#u40_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:916px;
}
#u40_ref {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:1012px;
  width:1px;
  height:1px;
}
#u41 {
  border-width:0px;
  position:absolute;
  left:1503px;
  top:107px;
  width:365px;
  height:667px;
}
#u41_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:668px;
}
#u41_ref {
  border-width:0px;
  position:absolute;
  left:1860px;
  top:764px;
  width:1px;
  height:1px;
}
#u42 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:1066px;
  width:375px;
  height:667px;
}
#u42_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u42_ref {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:1723px;
  width:1px;
  height:1px;
}
#u43 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1067px;
  width:375px;
  height:667px;
}
#u43_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u43_ref {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:1724px;
  width:1px;
  height:1px;
}
#u44 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1067px;
  width:375px;
  height:667px;
}
#u44_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u44_ref {
  border-width:0px;
  position:absolute;
  left:746px;
  top:1724px;
  width:1px;
  height:1px;
}
#u45 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:441px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u45_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u45_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:18px;
  height:18px;
}
#u45_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u46 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:441px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u46_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u46_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-7px;
  width:121px;
  height:8px;
}
#u46_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-12px;
  width:18px;
  height:18px;
}
#u46_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u47 {
  border-width:0px;
  position:absolute;
  left:1686px;
  top:774px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u47_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:296px;
}
#u47_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:280px;
  width:18px;
  height:18px;
}
#u47_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:138px;
  width:100px;
  word-wrap:break-word;
}
#u48 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:1400px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u48_seg0 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:222px;
  height:8px;
}
#u48_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:8px;
  height:9px;
}
#u48_seg2 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-3px;
  width:15px;
  height:8px;
}
#u48_seg3 {
  border-width:0px;
  position:absolute;
  left:-235px;
  top:-8px;
  width:18px;
  height:18px;
}
#u48_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u49 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1401px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u49_seg0 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-4px;
  width:144px;
  height:8px;
}
#u49_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-9px;
  width:18px;
  height:18px;
}
#u49_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u50 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:565px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u50_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u50_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-128px;
  width:8px;
  height:132px;
}
#u50_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-128px;
  width:63px;
  height:8px;
}
#u50_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-133px;
  width:18px;
  height:18px;
}
#u50_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-70px;
  width:100px;
  word-wrap:break-word;
}
