body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1873px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:107px;
  width:375px;
  height:667px;
}
#u246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u246_ref {
  border-width:0px;
  position:absolute;
  left:437px;
  top:764px;
  width:1px;
  height:1px;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:519px;
  top:107px;
  width:375px;
  height:667px;
}
#u247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u247_ref {
  border-width:0px;
  position:absolute;
  left:886px;
  top:764px;
  width:1px;
  height:1px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:107px;
  width:375px;
  height:915px;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:916px;
}
#u248_ref {
  border-width:0px;
  position:absolute;
  left:1377px;
  top:1012px;
  width:1px;
  height:1px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:1503px;
  top:107px;
  width:365px;
  height:667px;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:668px;
}
#u249_ref {
  border-width:0px;
  position:absolute;
  left:1860px;
  top:764px;
  width:1px;
  height:1px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:1066px;
  width:375px;
  height:667px;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u250_ref {
  border-width:0px;
  position:absolute;
  left:1865px;
  top:1723px;
  width:1px;
  height:1px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1067px;
  width:375px;
  height:667px;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u251_ref {
  border-width:0px;
  position:absolute;
  left:1261px;
  top:1724px;
  width:1px;
  height:1px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:1067px;
  width:375px;
  height:667px;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u252_ref {
  border-width:0px;
  position:absolute;
  left:746px;
  top:1724px;
  width:1px;
  height:1px;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:441px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u253_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u253_seg1 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-9px;
  width:18px;
  height:18px;
}
#u253_text {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:441px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u254_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-7px;
  width:8px;
  height:7px;
}
#u254_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-7px;
  width:121px;
  height:8px;
}
#u254_seg2 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:-12px;
  width:18px;
  height:18px;
}
#u254_text {
  border-width:0px;
  position:absolute;
  left:7px;
  top:-10px;
  width:100px;
  word-wrap:break-word;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:1686px;
  top:774px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u255_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:296px;
}
#u255_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:280px;
  width:18px;
  height:18px;
}
#u255_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:138px;
  width:100px;
  word-wrap:break-word;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:1498px;
  top:1400px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u256_seg0 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:222px;
  height:8px;
}
#u256_seg1 {
  border-width:0px;
  position:absolute;
  left:-222px;
  top:-4px;
  width:8px;
  height:9px;
}
#u256_seg2 {
  border-width:0px;
  position:absolute;
  left:-229px;
  top:-3px;
  width:15px;
  height:8px;
}
#u256_seg3 {
  border-width:0px;
  position:absolute;
  left:-235px;
  top:-8px;
  width:18px;
  height:18px;
}
#u256_text {
  border-width:0px;
  position:absolute;
  left:-165px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:894px;
  top:1401px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u257_seg0 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-4px;
  width:144px;
  height:8px;
}
#u257_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-9px;
  width:18px;
  height:18px;
}
#u257_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:1385px;
  top:565px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u258_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:63px;
  height:8px;
}
#u258_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-128px;
  width:8px;
  height:132px;
}
#u258_seg2 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-128px;
  width:63px;
  height:8px;
}
#u258_seg3 {
  border-width:0px;
  position:absolute;
  left:106px;
  top:-133px;
  width:18px;
  height:18px;
}
#u258_text {
  border-width:0px;
  position:absolute;
  left:9px;
  top:-70px;
  width:100px;
  word-wrap:break-word;
}
