body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:307px;
}
#u3859 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1145px;
  height:306px;
}
#u3859_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:320px;
}
#u3860 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:389px;
  width:1111px;
  height:319px;
}
#u3860_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3861 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3862 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:434px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3862_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3863_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3863 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:434px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3863_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3864_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3864 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:434px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3864_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u3865 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:434px;
  width:284px;
  height:40px;
  text-align:left;
}
#u3865_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u3866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u3866 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:434px;
  width:207px;
  height:40px;
  text-align:left;
}
#u3866_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u3867 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3868_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3868 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:474px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3868_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3869_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3869 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:474px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3869_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3870_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u3870 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:474px;
  width:671px;
  height:40px;
  text-align:left;
}
#u3870_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
#u3871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u3871 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:400px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3871_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3872_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3872 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:593px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3872_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3873_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3873 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:554px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3873_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3874_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3874 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:514px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3874_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3875_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u3875 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:524px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3875_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3876_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3876 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:564px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3876_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3877 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:603px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3877_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3878_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u3878 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:86px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u3878_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u3879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3880 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3880_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3881 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3881_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3882 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:176px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3882_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
}
#u3883 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:136px;
  width:302px;
  height:40px;
  text-align:left;
}
#u3883_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u3884_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3884 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:176px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3884_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:41px;
}
#u3885 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:255px;
  width:1022px;
  height:40px;
  text-align:left;
}
#u3885_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1018px;
  word-wrap:break-word;
}
#u3886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:41px;
}
#u3886 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:216px;
  width:1022px;
  height:40px;
  text-align:left;
}
#u3886_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1018px;
  word-wrap:break-word;
}
#u3887_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3887 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3887_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3888_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3888 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3888_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3889_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:41px;
}
#u3889 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:176px;
  width:662px;
  height:40px;
  text-align:left;
}
#u3889_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u3890_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u3890 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:90px;
  width:87px;
  height:33px;
}
#u3890_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u3891_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u3891 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:90px;
  width:87px;
  height:33px;
}
#u3891_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u3892_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3892 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:266px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3892_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3893_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3893 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:225px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3893_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u3894 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:55px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3894_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u3895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:320px;
}
#u3895 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:736px;
  width:1111px;
  height:319px;
}
#u3895_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3896 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3897 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:781px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3897_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3898 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:781px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3898_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3899 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:781px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3899_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u3900 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:781px;
  width:284px;
  height:40px;
  text-align:left;
}
#u3900_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u3901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u3901 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:781px;
  width:207px;
  height:40px;
  text-align:left;
}
#u3901_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u3902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3903 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:821px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3903_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3904 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:821px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3904_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u3905 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:821px;
  width:671px;
  height:40px;
  text-align:left;
}
#u3905_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
#u3906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u3906 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:747px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3906_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3907 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:940px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3907_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3908 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:901px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3908_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3909 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:861px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3909_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u3910 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:871px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3910_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3911 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:911px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3911_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3912 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:950px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3912_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:320px;
}
#u3913 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1101px;
  width:1111px;
  height:319px;
}
#u3913_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3914 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3915_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3915 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1146px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3915_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3916 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1146px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3916_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3917 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1146px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3917_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u3918 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:1146px;
  width:284px;
  height:40px;
  text-align:left;
}
#u3918_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u3919_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u3919 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1146px;
  width:207px;
  height:40px;
  text-align:left;
}
#u3919_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u3920 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3921 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1186px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3921_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3922 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1186px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3922_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u3923 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1186px;
  width:671px;
  height:40px;
  text-align:left;
}
#u3923_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
#u3924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u3924 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1112px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3924_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3925 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1345px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3925_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3926_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3926 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1306px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3926_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3927_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3927 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1266px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3927_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u3928 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:1277px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3928_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u3929_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3929 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1317px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3929_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3930_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3930 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1356px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3930_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3931 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1226px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3931_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u3932 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1237px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3932_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
