body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:307px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1145px;
  height:306px;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:320px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:389px;
  width:1111px;
  height:319px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:434px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:434px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:434px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:434px;
  width:284px;
  height:40px;
  text-align:left;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:434px;
  width:207px;
  height:40px;
  text-align:left;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:474px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:474px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:474px;
  width:671px;
  height:40px;
  text-align:left;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:400px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:593px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:554px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:514px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:524px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:564px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:603px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:86px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:176px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:824px;
  top:136px;
  width:302px;
  height:40px;
  text-align:left;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:176px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:41px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:255px;
  width:1022px;
  height:40px;
  text-align:left;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1018px;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:41px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:216px;
  width:1022px;
  height:40px;
  text-align:left;
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1018px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:644px;
  top:136px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:41px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:176px;
  width:662px;
  height:40px;
  text-align:left;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:1095px;
  top:90px;
  width:87px;
  height:33px;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:998px;
  top:90px;
  width:87px;
  height:33px;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:83px;
  word-wrap:break-word;
}
#u4016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:266px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4016_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:225px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4017_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:25px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:55px;
  width:55px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:320px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:736px;
  width:1111px;
  height:319px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:781px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:781px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:781px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:781px;
  width:284px;
  height:40px;
  text-align:left;
}
#u4024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:781px;
  width:207px;
  height:40px;
  text-align:left;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:821px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:821px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:821px;
  width:671px;
  height:40px;
  text-align:left;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:747px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4030_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:940px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:901px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:861px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:871px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4034_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u4035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:911px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4035_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:950px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4036_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1112px;
  height:320px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:1101px;
  width:1111px;
  height:319px;
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1146px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1146px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4040_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1146px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:41px;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:837px;
  top:1146px;
  width:284px;
  height:40px;
  text-align:left;
}
#u4042_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:280px;
  word-wrap:break-word;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:41px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:1146px;
  width:207px;
  height:40px;
  text-align:left;
}
#u4043_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:203px;
  word-wrap:break-word;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1186px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:1186px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4046_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:41px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1186px;
  width:671px;
  height:40px;
  text-align:left;
}
#u4047_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:667px;
  word-wrap:break-word;
}
#u4048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:25px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:1112px;
  width:73px;
  height:24px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:18px;
}
#u4048_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1345px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1306px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4050_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1266px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:21px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:1277px;
  width:44px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4052_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  white-space:nowrap;
}
#u4053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1317px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1356px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:90px;
  top:1226px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4055_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:1237px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
