body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1125_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1125 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u1125_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1128_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:67px;
}
#u1128 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u1128_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1129_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1129 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u1129_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1130_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1130 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:84px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1130_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1131 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1132_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
}
#u1132 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:78px;
  width:73px;
  height:26px;
}
#u1132_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1133_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1133 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:89px;
  width:5px;
  height:5px;
}
#u1133_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1134 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:87px;
  width:8px;
  height:8px;
}
#u1134_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1135_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1135 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:89px;
  width:5px;
  height:5px;
}
#u1135_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1136 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:84px;
  width:1px;
  height:14px;
}
#u1136_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1137_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1137 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:84px;
  width:14px;
  height:14px;
}
#u1137_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1138 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:88px;
  width:6px;
  height:6px;
}
#u1138_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1139_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
}
#u1139 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:83px;
  width:167px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u1139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u1140_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:75px;
}
#u1140 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:117px;
  width:369px;
  height:74px;
  text-align:left;
}
#u1140_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
#u1141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:103px;
}
#u1141 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:520px;
  width:369px;
  height:102px;
  text-align:left;
}
#u1141_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:19px;
  width:365px;
  word-wrap:break-word;
}
#u1142 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1143 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:360px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1143_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1144 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:370px;
  width:6px;
  height:11px;
  text-align:left;
}
#u1144_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1145 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:363px;
  width:238px;
  height:25px;
}
#u1145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1145_input {
  font-family:'黑体';
}
#u1146 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1147 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:423px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1147_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1148 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:392px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1148_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1149 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:426px;
  width:237px;
  height:25px;
}
#u1149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1149_input {
  font-family:'黑体';
}
#u1150 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:395px;
  width:254px;
  height:25px;
}
#u1150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1150_input {
  font-family:'黑体';
}
#u1151 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1152 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:454px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1152_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  height:21px;
}
#u1153 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:459px;
  width:182px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  word-wrap:break-word;
}
#u1154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1154 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:465px;
  width:6px;
  height:11px;
  text-align:left;
}
#u1154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:41px;
}
#u1155 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:676px;
  width:282px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u1155_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:270px;
  word-wrap:break-word;
}
#u1156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u1156 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:676px;
  width:87px;
  height:40px;
}
#u1156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u1157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1157 {
  border-width:0px;
  position:absolute;
  left:296px;
  top:686px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1159 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:667px;
}
#u1159_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1160 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1162_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:67px;
}
#u1162 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:64px;
}
#u1162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1163 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:50px;
  width:375px;
  height:28px;
}
#u1163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1164 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:84px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1165 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
}
#u1166 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:78px;
  width:73px;
  height:26px;
}
#u1166_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1167 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:89px;
  width:5px;
  height:5px;
}
#u1167_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1168 {
  border-width:0px;
  position:absolute;
  left:798px;
  top:87px;
  width:8px;
  height:8px;
}
#u1168_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1169 {
  border-width:0px;
  position:absolute;
  left:807px;
  top:89px;
  width:5px;
  height:5px;
}
#u1169_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1170 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:84px;
  width:1px;
  height:14px;
}
#u1170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1171 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:84px;
  width:14px;
  height:14px;
}
#u1171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1172 {
  border-width:0px;
  position:absolute;
  left:834px;
  top:88px;
  width:6px;
  height:6px;
}
#u1172_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:17px;
}
#u1173 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:83px;
  width:167px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
}
#u1173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u1174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:75px;
}
#u1174 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:117px;
  width:369px;
  height:74px;
  text-align:left;
}
#u1174_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
#u1175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:114px;
}
#u1175 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:483px;
  width:369px;
  height:113px;
  text-align:left;
}
#u1175_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:365px;
  word-wrap:break-word;
}
#u1176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1176 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:282px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1176_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1177 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:343px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1177_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1178 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:313px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1178_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1179 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:407px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1179_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1180 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:292px;
  width:6px;
  height:11px;
  text-align:left;
}
#u1180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1181 {
  border-width:0px;
  position:absolute;
  left:622px;
  top:285px;
  width:218px;
  height:25px;
}
#u1181_input {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1181_input {
  font-family:'黑体';
}
#u1182 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:346px;
  width:233px;
  height:25px;
}
#u1182_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1182_input {
  font-family:'黑体';
}
#u1183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:41px;
}
#u1183 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:676px;
  width:282px;
  height:40px;
  font-size:16px;
  text-align:left;
}
#u1183_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:11px;
  width:270px;
  word-wrap:break-word;
}
#u1184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:41px;
}
#u1184 {
  border-width:0px;
  position:absolute;
  left:785px;
  top:676px;
  width:87px;
  height:40px;
}
#u1184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:83px;
  word-wrap:break-word;
}
#u1185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1185 {
  border-width:0px;
  position:absolute;
  left:746px;
  top:686px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u1185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1186 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:316px;
  width:234px;
  height:25px;
}
#u1186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1186_input {
  font-family:'黑体';
}
#u1187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:21px;
}
#u1187 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:414px;
  width:189px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  white-space:nowrap;
}
#u1188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1188 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:417px;
  width:6px;
  height:11px;
  text-align:left;
}
#u1188_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1189 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:373px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1189_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1190 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:376px;
  width:233px;
  height:25px;
}
#u1190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:233px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1190_input {
  font-family:'黑体';
}
#u1191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:28px;
}
#u1191 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:485px;
  width:369px;
  height:27px;
  text-align:left;
}
#u1191_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:6px;
  width:357px;
  word-wrap:break-word;
}
#u1192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:36px;
}
#u1192 {
  border-width:0px;
  position:absolute;
  left:503px;
  top:445px;
  width:369px;
  height:35px;
  text-align:left;
}
#u1192_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:357px;
  word-wrap:break-word;
}
#u1193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:181px;
}
#u1193 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:392px;
  width:109px;
  height:180px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u1194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:21px;
}
#u1194 {
  border-width:0px;
  position:absolute;
  left:783px;
  top:453px;
  width:75px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#CCCCCC;
}
#u1194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u1195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:31px;
}
#u1196 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:328px;
  width:369px;
  height:30px;
  text-align:left;
}
#u1196_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:7px;
  width:357px;
  word-wrap:break-word;
}
#u1197 {
  border-width:0px;
  position:absolute;
  left:167px;
  top:331px;
  width:224px;
  height:25px;
}
#u1197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u1197_input {
  font-family:'黑体';
}
#u1198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:12px;
}
#u1198 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:337px;
  width:6px;
  height:11px;
  text-align:left;
}
#u1198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:201px;
  width:88px;
  height:49px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:250px;
  width:88px;
  height:24px;
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:201px;
  width:88px;
  height:49px;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:250px;
  width:88px;
  height:24px;
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:201px;
  width:88px;
  height:49px;
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:250px;
  width:88px;
  height:24px;
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:201px;
  width:88px;
  height:49px;
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:250px;
  width:88px;
  height:24px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:201px;
  width:88px;
  height:49px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1208 {
  border-width:0px;
  position:absolute;
  left:511px;
  top:250px;
  width:88px;
  height:24px;
}
#u1208_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u1209 {
  border-width:0px;
  position:absolute;
  left:181px;
  top:282px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1209_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u1211 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:50px;
  width:375px;
  height:667px;
}
#u1211_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1214_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:67px;
}
#u1214 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:50px;
  width:375px;
  height:64px;
}
#u1214_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u1215 {
  border-width:0px;
  position:absolute;
  left:1064px;
  top:50px;
  width:375px;
  height:28px;
}
#u1215_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1216 {
  border-width:0px;
  position:absolute;
  left:1072px;
  top:84px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1216_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
}
#u1218 {
  border-width:0px;
  position:absolute;
  left:1347px;
  top:78px;
  width:73px;
  height:26px;
}
#u1218_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1219 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:89px;
  width:5px;
  height:5px;
}
#u1219_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u1220 {
  border-width:0px;
  position:absolute;
  left:1362px;
  top:87px;
  width:8px;
  height:8px;
}
#u1220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u1221 {
  border-width:0px;
  position:absolute;
  left:1371px;
  top:89px;
  width:5px;
  height:5px;
}
#u1221_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u1222 {
  border-width:0px;
  position:absolute;
  left:1383px;
  top:84px;
  width:1px;
  height:14px;
}
#u1222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1223 {
  border-width:0px;
  position:absolute;
  left:1394px;
  top:84px;
  width:14px;
  height:14px;
}
#u1223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u1224 {
  border-width:0px;
  position:absolute;
  left:1398px;
  top:88px;
  width:6px;
  height:6px;
}
#u1224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1226 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:201px;
  width:88px;
  height:49px;
}
#u1226_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1227 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:250px;
  width:88px;
  height:24px;
}
#u1227_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1228 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:201px;
  width:88px;
  height:49px;
}
#u1228_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1229 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:250px;
  width:88px;
  height:24px;
}
#u1229_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1230 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:201px;
  width:88px;
  height:49px;
}
#u1230_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1231 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:250px;
  width:88px;
  height:24px;
}
#u1231_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1232 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:201px;
  width:88px;
  height:49px;
}
#u1232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1233 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:250px;
  width:88px;
  height:24px;
}
#u1233_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:75px;
}
#u1234 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:117px;
  width:369px;
  height:74px;
  text-align:left;
}
#u1234_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:13px;
  width:359px;
  word-wrap:break-word;
}
#u1235 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1236 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:281px;
  width:88px;
  height:49px;
}
#u1236_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1237 {
  border-width:0px;
  position:absolute;
  left:1077px;
  top:330px;
  width:88px;
  height:24px;
}
#u1237_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1238 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:281px;
  width:88px;
  height:49px;
}
#u1238_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1239 {
  border-width:0px;
  position:absolute;
  left:1165px;
  top:330px;
  width:88px;
  height:24px;
}
#u1239_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1240 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:281px;
  width:88px;
  height:49px;
}
#u1240_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1241 {
  border-width:0px;
  position:absolute;
  left:1251px;
  top:330px;
  width:88px;
  height:24px;
}
#u1241_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:50px;
}
#u1242 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:281px;
  width:88px;
  height:49px;
}
#u1242_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:84px;
  word-wrap:break-word;
}
#u1243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:25px;
}
#u1243 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:330px;
  width:88px;
  height:24px;
}
#u1243_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u1244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u1244 {
  border-width:0px;
  position:absolute;
  left:1238px;
  top:364px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1244_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1245 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:181px;
}
#u1246 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:532px;
  width:375px;
  height:180px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1246_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u1247 {
  border-width:0px;
  position:absolute;
  left:1065px;
  top:665px;
  width:375px;
  height:1px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:21px;
}
#u1248 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:681px;
  width:61px;
  height:20px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u1248_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  white-space:nowrap;
}
#u1249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u1249 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:539px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u1249_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:17px;
}
#u1250 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:565px;
  width:283px;
  height:16px;
}
#u1250_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u1251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u1251 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:595px;
  width:127px;
  height:16px;
}
#u1251_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u1252 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:615px;
  width:127px;
  height:16px;
}
#u1252_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:17px;
}
#u1253 {
  border-width:0px;
  position:absolute;
  left:1367px;
  top:565px;
  width:36px;
  height:16px;
  text-align:right;
}
#u1253_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  white-space:nowrap;
}
#u1254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u1254 {
  border-width:0px;
  position:absolute;
  left:1081px;
  top:635px;
  width:120px;
  height:16px;
}
#u1254_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u1255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:61px;
}
#u1255 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:552px;
  width:120px;
  height:60px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u1255_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
