body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1677px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:65px;
}
#u146 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:106px;
  width:300px;
  height:64px;
}
#u146_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u147 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:303px;
  width:100px;
  height:60px;
}
#u147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u148 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:303px;
  width:100px;
  height:60px;
}
#u148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u149 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:303px;
  width:100px;
  height:60px;
}
#u149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u150 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:303px;
  width:100px;
  height:60px;
}
#u150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u151 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:431px;
  width:100px;
  height:60px;
}
#u151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u152 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:431px;
  width:100px;
  height:60px;
}
#u152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u153 {
  border-width:0px;
  position:absolute;
  left:984px;
  top:303px;
  width:100px;
  height:60px;
}
#u153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u154 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:333px;
  width:0px;
  height:0px;
}
#u154_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u154_seg1 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:-9px;
  width:18px;
  height:18px;
}
#u154_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u155 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:333px;
  width:0px;
  height:0px;
}
#u155_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:101px;
  height:8px;
}
#u155_seg1 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:-9px;
  width:18px;
  height:18px;
}
#u155_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:333px;
  width:0px;
  height:0px;
}
#u156_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:99px;
  height:8px;
}
#u156_seg1 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:-9px;
  width:18px;
  height:18px;
}
#u156_text {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u157 {
  border-width:0px;
  position:absolute;
  left:818px;
  top:363px;
  width:0px;
  height:0px;
}
#u157_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u157_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u157_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u158 {
  border-width:0px;
  position:absolute;
  left:868px;
  top:461px;
  width:0px;
  height:0px;
}
#u158_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u158_seg1 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-132px;
  width:8px;
  height:136px;
}
#u158_seg2 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:-132px;
  width:47px;
  height:8px;
}
#u158_seg3 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:-137px;
  width:18px;
  height:18px;
}
#u158_text {
  border-width:0px;
  position:absolute;
  left:23px;
  top:-57px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u159 {
  border-width:0px;
  position:absolute;
  left:623px;
  top:363px;
  width:0px;
  height:0px;
}
#u159_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u159_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u159_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:461px;
  width:0px;
  height:0px;
}
#u160_seg0 {
  border-width:0px;
  position:absolute;
  left:-351px;
  top:-4px;
  width:351px;
  height:8px;
}
#u160_seg1 {
  border-width:0px;
  position:absolute;
  left:-351px;
  top:-98px;
  width:8px;
  height:102px;
}
#u160_seg2 {
  border-width:0px;
  position:absolute;
  left:-356px;
  top:-104px;
  width:18px;
  height:18px;
}
#u160_text {
  border-width:0px;
  position:absolute;
  left:-272px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u161 {
  border-width:0px;
  position:absolute;
  left:1084px;
  top:333px;
  width:0px;
  height:0px;
}
#u161_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:94px;
  height:8px;
}
#u161_seg1 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-9px;
  width:18px;
  height:18px;
}
#u161_text {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:333px;
  width:0px;
  height:0px;
}
#u162_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u162_seg1 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:-9px;
  width:18px;
  height:18px;
}
#u162_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u163 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:303px;
  width:100px;
  height:60px;
}
#u163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u164 {
  border-width:0px;
  position:absolute;
  left:1174px;
  top:431px;
  width:100px;
  height:60px;
}
#u164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u165 {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:303px;
  width:100px;
  height:60px;
}
#u165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u166 {
  border-width:0px;
  position:absolute;
  left:1577px;
  top:303px;
  width:100px;
  height:60px;
}
#u166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:61px;
}
#u167 {
  border-width:0px;
  position:absolute;
  left:1376px;
  top:431px;
  width:100px;
  height:60px;
}
#u167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:1224px;
  top:363px;
  width:0px;
  height:0px;
}
#u168_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u168_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u168_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:1426px;
  top:363px;
  width:0px;
  height:0px;
}
#u169_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u169_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u169_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:1476px;
  top:333px;
  width:0px;
  height:0px;
}
#u170_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:105px;
  height:8px;
}
#u170_seg1 {
  border-width:0px;
  position:absolute;
  left:89px;
  top:-9px;
  width:18px;
  height:18px;
}
#u170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
