body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4548 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u4549 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u4549_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:959px;
}
#u4550 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:958px;
}
#u4550_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:933px;
}
#u4551 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:932px;
}
#u4551_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:933px;
}
#u4552 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:932px;
}
#u4552_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4553 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4553_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u4554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u4554 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4554_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u4555 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:77px;
  height:19px;
  font-family:'黑体  Bold', '黑体 ';
  font-weight:700;
  font-style:normal;
}
#u4555_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u4556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u4556 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u4556_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4558 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4558_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4559 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4559_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4560 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4560_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4561 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4561_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4562 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4562_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:55px;
}
#u4563 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:122px;
  width:250px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u4563_img.mouseOver {
}
#u4563.mouseOver {
}
#u4563_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:218px;
  white-space:nowrap;
}
#u4564 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4565 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:794px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4565_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:93px;
}
#u4566 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:836px;
  width:1145px;
  height:92px;
}
#u4566_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4567 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:840px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4568 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:840px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4568_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4569 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:880px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4569_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4570 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:880px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4570_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:93px;
}
#u4571 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:928px;
  width:1145px;
  height:92px;
}
#u4571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4572 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:932px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4573 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:932px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4574 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:972px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4574_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4575 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:972px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4575_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:574px;
}
#u4577 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:122px;
  width:224px;
  height:573px;
}
#u4577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4578 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:124px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4578_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4579 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:161px;
  width:187px;
  height:35px;
}
#u4579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4580 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:198px;
  width:187px;
  height:35px;
}
#u4580_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4581 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:384px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4581_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4582 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:421px;
  width:187px;
  height:35px;
}
#u4582_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4583 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:466px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4583_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4584 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:503px;
  width:187px;
  height:35px;
}
#u4584_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4585 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:557px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4585_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4586 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:594px;
  width:187px;
  height:35px;
}
#u4586_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4587 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:235px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4587_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4588 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:272px;
  width:187px;
  height:35px;
}
#u4588_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4589 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:309px;
  width:187px;
  height:35px;
}
#u4589_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4592 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:167px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4592_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:180px;
}
#u4593 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:209px;
  width:1145px;
  height:179px;
}
#u4593_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4595 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4595_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4596 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4596_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4597 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:258px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4597_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
}
#u4598 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:218px;
  width:302px;
  height:40px;
  text-align:left;
}
#u4598_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u4599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4599 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:258px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4599_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4600 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4600_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4601 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4601_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4602 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:298px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4602_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:41px;
}
#u4603 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:258px;
  width:662px;
  height:40px;
  text-align:left;
}
#u4603_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u4604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4604 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:309px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4604_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4605 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:402px;
}
#u4606 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:383px;
  width:1145px;
  height:401px;
}
#u4606_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:55px;
}
#u4607 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:399px;
  width:1031px;
  height:54px;
  text-align:left;
}
#u4607_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1027px;
  word-wrap:break-word;
}
#u4608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4608 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:455px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4608_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4609 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:455px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4609_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4610 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:495px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4610_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4611 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:495px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4611_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4612 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:535px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4612_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4613 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:535px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4613_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4614 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:575px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4614_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4615 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:575px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4615_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4616 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:615px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4616_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4617 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:615px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4617_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4618 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:655px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4618_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4619 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:655px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4619_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u4620 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:695px;
  width:180px;
  height:80px;
  text-align:left;
}
#u4620_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:176px;
  word-wrap:break-word;
}
#u4621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4621 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:695px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4621_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4622 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:343px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4622_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4623 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:735px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4623_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
