body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:823px;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:813px;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:814px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:77px;
  height:19px;
  font-family:'黑体  Bold', '黑体 ';
  font-weight:700;
  font-style:normal;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3971_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3971_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3974_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u3974_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u3976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:55px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:122px;
  width:250px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u3976_img.mouseOver {
}
#u3976.mouseOver {
}
#u3976_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:218px;
  white-space:nowrap;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:378px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:416px;
  width:1145px;
  height:377px;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:55px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:432px;
  width:1031px;
  height:54px;
  text-align:left;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1027px;
  word-wrap:break-word;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:488px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:488px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:528px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:528px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:568px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:568px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:608px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:608px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:648px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:648px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:688px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:688px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:728px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3992_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:728px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:389px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:794px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:93px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:836px;
  width:1145px;
  height:92px;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:840px;
  width:180px;
  height:40px;
  text-align:left;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:840px;
  width:851px;
  height:40px;
  text-align:left;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4000 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:880px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4000_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:880px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4001_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:574px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:122px;
  width:224px;
  height:573px;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:124px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:161px;
  width:187px;
  height:35px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:198px;
  width:187px;
  height:35px;
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:384px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:421px;
  width:187px;
  height:35px;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:466px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:503px;
  width:187px;
  height:35px;
}
#u4010_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:557px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:594px;
  width:187px;
  height:35px;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:235px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:272px;
  width:187px;
  height:35px;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:309px;
  width:187px;
  height:35px;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:167px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:180px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:209px;
  width:1145px;
  height:179px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:258px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:218px;
  width:302px;
  height:40px;
  text-align:left;
}
#u4024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:258px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:258px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:298px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:338px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:1352px;
  top:347px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4031_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:309px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4032_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
