body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4370 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u4371 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u4371_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:959px;
}
#u4372 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:958px;
}
#u4372_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:933px;
}
#u4373 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:932px;
}
#u4373_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:933px;
}
#u4374 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:932px;
}
#u4374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4375 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4375_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u4376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u4376 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4376_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u4377 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:77px;
  height:19px;
  font-family:'黑体  Bold', '黑体 ';
  font-weight:700;
  font-style:normal;
}
#u4377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u4378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u4378 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u4378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4380 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4381 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4382 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4382_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4383 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4383_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4384 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4384_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:55px;
}
#u4385 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:122px;
  width:250px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:right;
  line-height:22px;
}
#u4385_img.mouseOver {
}
#u4385.mouseOver {
}
#u4385_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:218px;
  white-space:nowrap;
}
#u4386 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4387 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:794px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4387_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:93px;
}
#u4388 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:836px;
  width:1145px;
  height:92px;
}
#u4388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4389 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:840px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4389_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4390 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:840px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4390_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4391 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:880px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4391_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4392 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:880px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4392_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:93px;
}
#u4393 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:928px;
  width:1145px;
  height:92px;
}
#u4393_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4394 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:932px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4395 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:932px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4396 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:972px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4397 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:972px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:574px;
}
#u4399 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:122px;
  width:224px;
  height:573px;
}
#u4399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4400 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:124px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4401 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:161px;
  width:187px;
  height:35px;
}
#u4401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4402 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:198px;
  width:187px;
  height:35px;
}
#u4402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4403 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:384px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4404 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:421px;
  width:187px;
  height:35px;
}
#u4404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4405 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:466px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4405_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4406 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:503px;
  width:187px;
  height:35px;
}
#u4406_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4407_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4407 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:557px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4407_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4408 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:594px;
  width:187px;
  height:35px;
}
#u4408_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4409 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:235px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4410 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:272px;
  width:187px;
  height:35px;
}
#u4410_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4411 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:309px;
  width:187px;
  height:35px;
}
#u4411_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4413 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4414 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:167px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4414_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:180px;
}
#u4415 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:209px;
  width:1145px;
  height:179px;
}
#u4415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4417 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4417_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4418 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4419 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:258px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:303px;
  height:41px;
}
#u4420 {
  border-width:0px;
  position:absolute;
  left:1100px;
  top:218px;
  width:302px;
  height:40px;
  text-align:left;
}
#u4420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:298px;
  word-wrap:break-word;
}
#u4421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4421 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:258px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4422 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4423 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:218px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:41px;
}
#u4424 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:298px;
  width:1031px;
  height:40px;
  text-align:left;
}
#u4424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1027px;
  word-wrap:break-word;
}
#u4425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:663px;
  height:41px;
}
#u4425 {
  border-width:0px;
  position:absolute;
  left:740px;
  top:258px;
  width:662px;
  height:40px;
  text-align:left;
}
#u4425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:658px;
  word-wrap:break-word;
}
#u4426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u4426 {
  border-width:0px;
  position:absolute;
  left:1366px;
  top:309px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u4426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u4427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4428_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:402px;
}
#u4428 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:383px;
  width:1145px;
  height:401px;
}
#u4428_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:55px;
}
#u4429 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:399px;
  width:1031px;
  height:54px;
  text-align:left;
}
#u4429_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:1027px;
  word-wrap:break-word;
}
#u4430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4430 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:455px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4431 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:455px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4432 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:495px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4433 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:495px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4434 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:535px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4435 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:535px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4436 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:575px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4437 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:575px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4437_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4438 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:615px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4439 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:615px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4439_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:41px;
}
#u4440 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:655px;
  width:180px;
  height:40px;
  text-align:left;
}
#u4440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:176px;
  word-wrap:break-word;
}
#u4441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4441 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:655px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:81px;
}
#u4442 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:695px;
  width:180px;
  height:80px;
  text-align:left;
}
#u4442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:20px;
  width:176px;
  word-wrap:break-word;
}
#u4443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4443 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:695px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4443_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
#u4444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1146px;
  height:41px;
}
#u4444 {
  border-width:0px;
  position:absolute;
  left:326px;
  top:343px;
  width:1145px;
  height:40px;
  text-align:left;
}
#u4444_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1123px;
  word-wrap:break-word;
}
#u4445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:852px;
  height:41px;
}
#u4445 {
  border-width:0px;
  position:absolute;
  left:560px;
  top:735px;
  width:851px;
  height:40px;
  text-align:left;
}
#u4445_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:847px;
  word-wrap:break-word;
}
