body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1285px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:658px;
  height:635px;
}
#u339 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:600px;
  width:657px;
  height:634px;
}
#u339_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u341 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u341_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:51px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:665px;
  width:320px;
  height:50px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u343_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:321px;
  height:2px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:664px;
  width:320px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u344_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u346_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:676px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u346_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u347_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:676px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u347_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u348_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:676px;
  width:22px;
  height:22px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u348_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:204px;
  top:701px;
  width:50px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u349_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:701px;
  width:24px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u350_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:701px;
  width:24px;
  height:16px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  text-align:center;
}
#u351_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u354_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:67px;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u354_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u355_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:78px;
  width:73px;
  height:26px;
}
#u357_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:89px;
  width:5px;
  height:5px;
}
#u358_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:87px;
  width:8px;
  height:8px;
}
#u359_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:89px;
  width:5px;
  height:5px;
}
#u360_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:84px;
  width:1px;
  height:14px;
}
#u361_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:84px;
  width:14px;
  height:14px;
}
#u362_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:88px;
  width:6px;
  height:6px;
}
#u363_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:289px;
  height:41px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:118px;
  width:288px;
  height:40px;
  color:#CCCCCC;
  text-align:left;
}
#u365_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:276px;
  word-wrap:break-word;
}
#u366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:13px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:132px;
  width:7px;
  height:12px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
}
#u366_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:130px;
  width:43px;
  height:16px;
}
#u367_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u368_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:183px;
  height:55px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:242px;
  top:164px;
  width:178px;
  height:50px;
  text-align:left;
}
#u368_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u369_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:183px;
  height:55px;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:164px;
  width:178px;
  height:50px;
  text-align:left;
}
#u369_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u370_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:379px;
  height:49px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:222px;
  width:368px;
  height:38px;
  color:#CCCCCC;
}
#u370_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:364px;
  word-wrap:break-word;
}
#u371_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:335px;
  height:49px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:271px;
  width:324px;
  height:38px;
  color:#1E1E1E;
}
#u371_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:320px;
  word-wrap:break-word;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u374_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:367px;
  height:145px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:535px;
  width:356px;
  height:134px;
}
#u374_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:17px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:543px;
  width:267px;
  height:16px;
}
#u375_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:267px;
  white-space:nowrap;
}
#u376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:74px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:567px;
  width:337px;
  height:73px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u376_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:29px;
  width:333px;
  word-wrap:break-word;
}
#u377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:17px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:69px;
  top:645px;
  width:309px;
  height:16px;
}
#u377_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:41px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:118px;
  width:65px;
  height:40px;
}
#u378_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:61px;
  word-wrap:break-word;
}
#u379_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:13px;
  top:118px;
  width:30px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u379_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u380_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:169px;
  width:30px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u380_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u381_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:219px;
  width:30px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u381_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u382_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:269px;
  width:30px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u382_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u383_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:382px;
  width:30px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u383_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:119px;
  width:30px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u384_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:629px;
  height:436px;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:628px;
  top:98px;
  width:628px;
  height:435px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#1E1E1E;
}
#u385_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:608px;
  word-wrap:break-word;
}
#u386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:80px;
  width:61px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u386_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:190px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:344px;
  width:371px;
  height:189px;
}
#u388_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:319px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u389_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:352px;
  width:121px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u392_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:85px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:386px;
  width:151px;
  height:84px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:147px;
  word-wrap:break-word;
}
#u394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:142px;
  top:500px;
  width:68px;
  height:21px;
}
#u394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:500px;
  width:55px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u396_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:517px;
  width:46px;
  height:1px;
}
#u397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  word-wrap:break-word;
}
#u398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:368px;
  width:106px;
  height:16px;
}
#u398_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:450px;
  width:64px;
  height:16px;
  color:#FFFFFF;
}
#u399_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:478px;
  width:113px;
  height:16px;
}
#u400_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:353px;
  width:121px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u402_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:85px;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:386px;
  width:151px;
  height:84px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u403_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:34px;
  width:147px;
  word-wrap:break-word;
}
#u404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:22px;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:500px;
  width:68px;
  height:21px;
}
#u404_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:64px;
  word-wrap:break-word;
}
#u405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:368px;
  width:127px;
  height:16px;
}
#u405_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u406_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:478px;
  width:113px;
  height:16px;
}
#u406_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u408_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u408 {
  border-width:0px;
  position:absolute;
  left:261px;
  top:500px;
  width:55px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u408_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:264px;
  top:517px;
  width:46px;
  height:1px;
}
#u409_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  word-wrap:break-word;
}
#u410_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:320px;
  width:45px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u410_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u411_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:322px;
  width:39px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u411_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:322px;
  width:120px;
  height:16px;
}
#u412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u413_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:41px;
  height:51px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:529px;
  width:30px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u413_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:26px;
  word-wrap:break-word;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u415_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:225px;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:728px;
  width:371px;
  height:224px;
}
#u415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:19px;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:699px;
  width:35px;
  height:18px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u416_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  white-space:nowrap;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:738px;
  width:121px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u419_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:100px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:778px;
  width:151px;
  height:99px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:147px;
  word-wrap:break-word;
}
#u421_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:913px;
  width:68px;
  height:25px;
}
#u421_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:913px;
  width:55px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u423_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:879px;
  top:933px;
  width:46px;
  height:1px;
}
#u424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  word-wrap:break-word;
}
#u425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:17px;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:757px;
  width:106px;
  height:16px;
}
#u425_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  white-space:nowrap;
}
#u426_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:854px;
  width:64px;
  height:16px;
  color:#FFFFFF;
}
#u426_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u427_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:887px;
  width:113px;
  height:16px;
}
#u427_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u429_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:17px;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:739px;
  width:121px;
  height:16px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u429_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u430_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:100px;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:778px;
  width:151px;
  height:99px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:42px;
  width:147px;
  word-wrap:break-word;
}
#u431_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:26px;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:913px;
  width:68px;
  height:25px;
}
#u431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:64px;
  word-wrap:break-word;
}
#u432_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:17px;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:757px;
  width:127px;
  height:16px;
}
#u432_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u433_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:17px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:887px;
  width:113px;
  height:16px;
}
#u433_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u435_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:21px;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:1066px;
  top:913px;
  width:55px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u435_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u436_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:2px;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:933px;
  width:46px;
  height:1px;
}
#u436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:42px;
  word-wrap:break-word;
}
#u437_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:921px;
  top:700px;
  width:45px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u438_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:21px;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:1167px;
  top:702px;
  width:39px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  text-align:right;
}
#u438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u439_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:17px;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:976px;
  top:702px;
  width:120px;
  height:16px;
}
#u439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u440_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:915px;
  top:618px;
  width:57px;
  height:16px;
}
#u440_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:17px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:1015px;
  top:611px;
  width:43px;
  height:16px;
}
#u441_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u442_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:1202px;
  top:649px;
  width:57px;
  height:16px;
}
#u442_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u443_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:33px;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:641px;
  top:805px;
  width:99px;
  height:32px;
}
#u443_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u444_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:17px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:648px;
  top:854px;
  width:85px;
  height:16px;
}
#u444_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u445_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:17px;
}
#u445 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:887px;
  width:57px;
  height:16px;
}
#u445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u446_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u446 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:916px;
  width:29px;
  height:16px;
}
#u446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u447 {
  border-width:0px;
  position:absolute;
  left:944px;
  top:700px;
  width:0px;
  height:0px;
}
#u447_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-66px;
  width:8px;
  height:70px;
}
#u447_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-72px;
  width:18px;
  height:18px;
}
#u447_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u448 {
  border-width:0px;
  position:absolute;
  left:1032px;
  top:703px;
  width:0px;
  height:0px;
}
#u448_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-82px;
  width:8px;
  height:82px;
}
#u448_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-82px;
  width:11px;
  height:8px;
}
#u448_seg2 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-87px;
  width:18px;
  height:18px;
}
#u448_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u449 {
  border-width:0px;
  position:absolute;
  left:1187px;
  top:702px;
  width:0px;
  height:0px;
}
#u449_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-49px;
  width:8px;
  height:49px;
}
#u449_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-49px;
  width:19px;
  height:8px;
}
#u449_seg2 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:-54px;
  width:18px;
  height:18px;
}
#u449_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-38px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u450 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:829px;
  width:0px;
  height:0px;
}
#u450_seg0 {
  border-width:0px;
  position:absolute;
  left:-132px;
  top:-4px;
  width:136px;
  height:8px;
}
#u450_seg1 {
  border-width:0px;
  position:absolute;
  left:-138px;
  top:-9px;
  width:18px;
  height:18px;
}
#u450_text {
  border-width:0px;
  position:absolute;
  left:-116px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u451 {
  border-width:0px;
  position:absolute;
  left:869px;
  top:895px;
  width:0px;
  height:0px;
}
#u451_seg0 {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:-4px;
  width:80px;
  height:8px;
}
#u451_seg1 {
  border-width:0px;
  position:absolute;
  left:-82px;
  top:-9px;
  width:18px;
  height:18px;
}
#u451_text {
  border-width:0px;
  position:absolute;
  left:-88px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u452 {
  border-width:0px;
  position:absolute;
  left:876px;
  top:923px;
  width:0px;
  height:0px;
}
#u452_seg0 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:100px;
  height:8px;
}
#u452_seg1 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:8px;
  height:9px;
}
#u452_seg2 {
  border-width:0px;
  position:absolute;
  left:-111px;
  top:-3px;
  width:19px;
  height:8px;
}
#u452_seg3 {
  border-width:0px;
  position:absolute;
  left:-117px;
  top:-8px;
  width:18px;
  height:18px;
}
#u452_text {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u453 {
  border-width:0px;
  position:absolute;
  left:880px;
  top:862px;
  width:0px;
  height:0px;
}
#u453_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u453_seg1 {
  border-width:0px;
  position:absolute;
  left:-147px;
  top:-4px;
  width:151px;
  height:8px;
}
#u453_seg2 {
  border-width:0px;
  position:absolute;
  left:-153px;
  top:-9px;
  width:18px;
  height:18px;
}
#u453_text {
  border-width:0px;
  position:absolute;
  left:-124px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u454_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:17px;
}
#u454 {
  border-width:0px;
  position:absolute;
  left:272px;
  top:450px;
  width:29px;
  height:16px;
  color:#FFFFFF;
}
#u454_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:17px;
}
#u455 {
  border-width:0px;
  position:absolute;
  left:1071px;
  top:856px;
  width:64px;
  height:16px;
  color:#FFFFFF;
}
#u455_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  white-space:nowrap;
}
#u456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:171px;
}
#u456 {
  border-width:0px;
  position:absolute;
  left:673px;
  top:1043px;
  width:602px;
  height:170px;
}
#u456_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  word-wrap:break-word;
}
#u457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u457 {
  border-width:0px;
  position:absolute;
  left:941px;
  top:982px;
  width:64px;
  height:24px;
}
#u457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u458 {
  border-width:0px;
  position:absolute;
  left:736px;
  top:984px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u458_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u459 {
  border-width:0px;
  position:absolute;
  left:858px;
  top:982px;
  width:64px;
  height:24px;
}
#u459_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
#u460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:25px;
}
#u460 {
  border-width:0px;
  position:absolute;
  left:1021px;
  top:982px;
  width:64px;
  height:24px;
}
#u460_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:60px;
  word-wrap:break-word;
}
