body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:297px;
  height:532px;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:533px;
}
#u222_ref {
  border-width:0px;
  position:absolute;
  left:339px;
  top:572px;
  width:1px;
  height:1px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:50px;
  width:300px;
  height:532px;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:533px;
}
#u223_ref {
  border-width:0px;
  position:absolute;
  left:742px;
  top:572px;
  width:1px;
  height:1px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:50px;
  width:300px;
  height:718px;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:719px;
}
#u224_ref {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:758px;
  width:1px;
  height:1px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:50px;
  width:300px;
  height:534px;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u225_ref {
  border-width:0px;
  position:absolute;
  left:1582px;
  top:574px;
  width:1px;
  height:1px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:902px;
  width:300px;
  height:534px;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u226_ref {
  border-width:0px;
  position:absolute;
  left:1582px;
  top:1426px;
  width:1px;
  height:1px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:902px;
  width:300px;
  height:534px;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u227_ref {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:1426px;
  width:1px;
  height:1px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1583px;
  width:300px;
  height:534px;
}
#u228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u228_ref {
  border-width:0px;
  position:absolute;
  left:1582px;
  top:2107px;
  width:1px;
  height:1px;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:902px;
  width:300px;
  height:534px;
}
#u229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u229_ref {
  border-width:0px;
  position:absolute;
  left:742px;
  top:1426px;
  width:1px;
  height:1px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1583px;
  width:300px;
  height:534px;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u230_ref {
  border-width:0px;
  position:absolute;
  left:1142px;
  top:2107px;
  width:1px;
  height:1px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:902px;
  width:300px;
  height:534px;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:535px;
}
#u231_ref {
  border-width:0px;
  position:absolute;
  left:339px;
  top:1426px;
  width:1px;
  height:1px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:316px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u232_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:107px;
  height:8px;
}
#u232_seg1 {
  border-width:0px;
  position:absolute;
  left:91px;
  top:-9px;
  width:18px;
  height:18px;
}
#u232_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:316px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u233_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:51px;
  height:8px;
}
#u233_seg1 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:-4px;
  width:8px;
  height:101px;
}
#u233_seg2 {
  border-width:0px;
  position:absolute;
  left:43px;
  top:89px;
  width:57px;
  height:8px;
}
#u233_seg3 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:84px;
  width:18px;
  height:18px;
}
#u233_text {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:42px;
  width:100px;
  word-wrap:break-word;
}
#u234 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:633px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u234_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u234_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-320px;
  width:8px;
  height:324px;
}
#u234_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-320px;
  width:64px;
  height:8px;
}
#u234_seg3 {
  border-width:0px;
  position:absolute;
  left:123px;
  top:-325px;
  width:18px;
  height:18px;
}
#u234_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:-158px;
  width:100px;
  word-wrap:break-word;
}
#u235 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:584px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u235_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:322px;
}
#u235_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:306px;
  width:18px;
  height:18px;
}
#u235_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:152px;
  width:100px;
  word-wrap:break-word;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u236_seg0 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-4px;
  width:144px;
  height:8px;
}
#u236_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-9px;
  width:18px;
  height:18px;
}
#u236_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-15px;
  width:100px;
  word-wrap:break-word;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u237_seg0 {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-4px;
  width:104px;
  height:8px;
}
#u237_seg1 {
  border-width:0px;
  position:absolute;
  left:-106px;
  top:-9px;
  width:18px;
  height:18px;
}
#u237_text {
  border-width:0px;
  position:absolute;
  left:-100px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:1169px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u238_seg0 {
  border-width:0px;
  position:absolute;
  left:-103px;
  top:-4px;
  width:107px;
  height:8px;
}
#u238_seg1 {
  border-width:0px;
  position:absolute;
  left:-109px;
  top:-9px;
  width:18px;
  height:18px;
}
#u238_text {
  border-width:0px;
  position:absolute;
  left:-102px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:1440px;
  top:1436px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u239_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:151px;
}
#u239_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:135px;
  width:18px;
  height:18px;
}
#u239_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:58px;
  width:100px;
  word-wrap:break-word;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:1290px;
  top:1850px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u240_seg0 {
  border-width:0px;
  position:absolute;
  left:-140px;
  top:-4px;
  width:144px;
  height:8px;
}
#u240_seg1 {
  border-width:0px;
  position:absolute;
  left:-146px;
  top:-9px;
  width:18px;
  height:18px;
}
#u240_text {
  border-width:0px;
  position:absolute;
  left:-120px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:1850px;
  width:0px;
  height:0px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u241_seg0 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-4px;
  width:254px;
  height:8px;
}
#u241_seg1 {
  border-width:0px;
  position:absolute;
  left:-254px;
  top:-414px;
  width:8px;
  height:418px;
}
#u241_seg2 {
  border-width:0px;
  position:absolute;
  left:-259px;
  top:-420px;
  width:18px;
  height:18px;
}
#u241_text {
  border-width:0px;
  position:absolute;
  left:-300px;
  top:-97px;
  width:100px;
  word-wrap:break-word;
}
