body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1202px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:554px;
  height:201px;
}
#u461 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:186px;
  width:543px;
  height:190px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:668px;
}
#u463 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:667px;
}
#u463_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u464 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u465 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u466_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:378px;
  height:67px;
}
#u466 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:64px;
}
#u466_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:28px;
}
#u467 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:375px;
  height:28px;
}
#u467_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u468 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:84px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u468_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:27px;
}
#u470 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:78px;
  width:73px;
  height:26px;
}
#u470_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u471 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:89px;
  width:5px;
  height:5px;
}
#u471_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u472 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:87px;
  width:8px;
  height:8px;
}
#u472_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u473 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:89px;
  width:5px;
  height:5px;
}
#u473_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:15px;
}
#u474 {
  border-width:0px;
  position:absolute;
  left:369px;
  top:84px;
  width:1px;
  height:14px;
}
#u474_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u475 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:84px;
  width:14px;
  height:14px;
}
#u475_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:7px;
}
#u476 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:88px;
  width:6px;
  height:6px;
}
#u476_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u477 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:83px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  text-align:center;
}
#u477_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  word-wrap:break-word;
}
#u478 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u479 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:112px;
}
#u480 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:219px;
  width:371px;
  height:111px;
}
#u480_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:99px;
}
#u481 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:223px;
  width:80px;
  height:98px;
}
#u481_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:76px;
  word-wrap:break-word;
}
#u482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u482 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:224px;
  width:254px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u482_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u483 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:251px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u483_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
#u484 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:304px;
  width:219px;
  height:16px;
}
#u484_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u485 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:296px;
  width:70px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u485_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u487 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:112px;
}
#u488 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:330px;
  width:371px;
  height:111px;
}
#u488_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:99px;
}
#u489 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:334px;
  width:80px;
  height:98px;
}
#u489_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:76px;
  word-wrap:break-word;
}
#u490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u490 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:335px;
  width:254px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u490_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u491 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:362px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u491_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
#u492 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:415px;
  width:219px;
  height:16px;
}
#u492_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u493 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:407px;
  width:70px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u493_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:81px;
}
#u494 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:132px;
  width:351px;
  height:80px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u494_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:17px;
}
#u495 {
  border-width:0px;
  position:absolute;
  left:506px;
  top:431px;
  width:1px;
  height:16px;
}
#u495_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u496 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:281px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u496_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u497 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:392px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u497_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:112px;
}
#u499 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:219px;
  width:371px;
  height:111px;
}
#u499_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:99px;
}
#u500 {
  border-width:0px;
  position:absolute;
  left:573px;
  top:223px;
  width:80px;
  height:98px;
}
#u500_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:41px;
  width:76px;
  word-wrap:break-word;
}
#u501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:255px;
  height:22px;
}
#u501 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:224px;
  width:254px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u501_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  white-space:nowrap;
}
#u502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u502 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:251px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u502_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:17px;
}
#u503 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:304px;
  width:219px;
  height:16px;
}
#u503_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  word-wrap:break-word;
}
#u504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:25px;
}
#u504 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:296px;
  width:70px;
  height:24px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-align:right;
}
#u504_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  white-space:nowrap;
}
#u505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u505 {
  border-width:0px;
  position:absolute;
  left:585px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u505_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u506 {
  border-width:0px;
  position:absolute;
  left:761px;
  top:141px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u506_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u507 {
  border-width:0px;
  position:absolute;
  left:1145px;
  top:251px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u507_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:21px;
}
#u508 {
  border-width:0px;
  position:absolute;
  left:698px;
  top:398px;
  width:113px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u508_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u509 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:333px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u509_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:21px;
}
#u510 {
  border-width:0px;
  position:absolute;
  left:1067px;
  top:281px;
  width:121px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u510_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u511 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:223px;
  width:0px;
  height:0px;
}
#u511_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-35px;
  width:8px;
  height:35px;
}
#u511_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-35px;
  width:9px;
  height:8px;
}
#u511_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-62px;
  width:8px;
  height:35px;
}
#u511_seg3 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-68px;
  width:18px;
  height:18px;
}
#u511_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u512 {
  border-width:0px;
  position:absolute;
  left:790px;
  top:224px;
  width:0px;
  height:0px;
}
#u512_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-63px;
  width:8px;
  height:67px;
}
#u512_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-69px;
  width:18px;
  height:18px;
}
#u512_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u513 {
  border-width:0px;
  position:absolute;
  left:917px;
  top:308px;
  width:0px;
  height:0px;
}
#u513_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:79px;
  height:8px;
}
#u513_seg1 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:-4px;
  width:8px;
  height:43px;
}
#u513_seg2 {
  border-width:0px;
  position:absolute;
  left:71px;
  top:31px;
  width:79px;
  height:8px;
}
#u513_seg3 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:26px;
  width:18px;
  height:18px;
}
#u513_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:10px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u514 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:261px;
  width:0px;
  height:0px;
}
#u514_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:443px;
  height:8px;
}
#u514_seg1 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:-9px;
  width:18px;
  height:18px;
}
#u514_text {
  border-width:0px;
  position:absolute;
  left:170px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u515 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:330px;
  width:0px;
  height:0px;
}
#u515_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u515_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:56px;
  width:18px;
  height:18px;
}
#u515_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:21px;
}
#u516 {
  border-width:0px;
  position:absolute;
  left:663px;
  top:281px;
  width:43px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u516_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u517 {
  border-width:0px;
  position:absolute;
  left:716px;
  top:281px;
  width:29px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u517_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u518 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:281px;
  width:57px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u518_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u519 {
  border-width:0px;
  position:absolute;
  left:812px;
  top:291px;
  width:0px;
  height:0px;
}
#u519_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:259px;
  height:8px;
}
#u519_seg1 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:-9px;
  width:18px;
  height:18px;
}
#u519_text {
  border-width:0px;
  position:absolute;
  left:78px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
