body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1490px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3933 {
  position:absolute;
  left:554px;
  top:253px;
  visibility:hidden;
}
#u3933_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:656px;
  height:607px;
  background-image:none;
}
#u3933_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:656px;
  height:607px;
}
#u3934 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:655px;
  height:606px;
}
#u3934_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3936_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-3px;
  width:529px;
  height:297px;
}
#u3936 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:520px;
  height:288px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:18px;
}
#u3936_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:466px;
}
#u3937 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:520px;
  height:465px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u3937_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3939_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:55px;
}
#u3939 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:520px;
  height:54px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3939_text {
  border-width:0px;
  position:absolute;
  left:24px;
  top:16px;
  width:472px;
  word-wrap:break-word;
}
#u3940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:34px;
}
#u3940 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:95px;
  width:199px;
  height:33px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u3940_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:187px;
  word-wrap:break-word;
}
#u3941 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3942_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:521px;
  height:57px;
}
#u3942 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:429px;
  width:520px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u3942_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u3943 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:441px;
  width:61px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3943_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u3944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u3944 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:441px;
  width:61px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u3944_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u3945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3945 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:37px;
  width:15px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3945_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:34px;
}
#u3946 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:95px;
  width:47px;
  height:33px;
}
#u3946_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:43px;
  word-wrap:break-word;
}
#u3947 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:149px;
  width:481px;
  height:96px;
}
#u3948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:31px;
}
#u3948 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:185px;
  height:30px;
}
#u3948_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u3949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u3949 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:0px;
  width:101px;
  height:30px;
}
#u3949_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u3950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u3950 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:0px;
  width:120px;
  height:30px;
}
#u3950_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3951_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u3951 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:75px;
  height:30px;
}
#u3951_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u3952_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:31px;
}
#u3952 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:185px;
  height:30px;
  text-align:left;
}
#u3952_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:181px;
  word-wrap:break-word;
}
#u3953_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:31px;
}
#u3953 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:30px;
  width:101px;
  height:30px;
}
#u3953_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:97px;
  word-wrap:break-word;
}
#u3954_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:31px;
}
#u3954 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:30px;
  width:120px;
  height:30px;
}
#u3954_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:116px;
  word-wrap:break-word;
}
#u3955_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:31px;
}
#u3955 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:30px;
  width:75px;
  height:30px;
}
#u3955_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:71px;
  word-wrap:break-word;
}
#u3956_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:37px;
}
#u3956 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:185px;
  height:36px;
  text-align:left;
}
#u3956_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:181px;
  word-wrap:break-word;
}
#u3957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:37px;
}
#u3957 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:60px;
  width:101px;
  height:36px;
}
#u3957_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:97px;
  word-wrap:break-word;
}
#u3958_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:37px;
}
#u3958 {
  border-width:0px;
  position:absolute;
  left:286px;
  top:60px;
  width:120px;
  height:36px;
}
#u3958_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:116px;
  word-wrap:break-word;
}
#u3959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:37px;
}
#u3959 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:60px;
  width:75px;
  height:36px;
}
#u3959_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:71px;
  word-wrap:break-word;
}
#u3960 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
}
#u3961 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:384px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3961_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u3962_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
}
#u3962 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:384px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3962_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u3963_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
}
#u3963 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:384px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3963_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u3964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:19px;
}
#u3964 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:384px;
  width:8px;
  height:18px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3964_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:8px;
  word-wrap:break-word;
}
#u3965_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:19px;
}
#u3965 {
  border-width:0px;
  position:absolute;
  left:509px;
  top:384px;
  width:15px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u3965_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:15px;
  white-space:nowrap;
}
#u3966_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:27px;
}
#u3966 {
  border-width:0px;
  position:absolute;
  left:454px;
  top:380px;
  width:47px;
  height:26px;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:22px;
}
#u3966_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:2px;
  width:33px;
  word-wrap:break-word;
}
#u3967_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:19px;
}
#u3967 {
  border-width:0px;
  position:absolute;
  left:417px;
  top:384px;
  width:29px;
  height:18px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  line-height:22px;
}
#u3967_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-2px;
  width:29px;
  white-space:nowrap;
}
#u3968_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
}
#u3968 {
  border-width:0px;
  position:absolute;
  left:161px;
  top:382px;
  width:22px;
  height:22px;
  font-size:14px;
  color:#FFFFFF;
  line-height:22px;
}
#u3968_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:18px;
  word-wrap:break-word;
}
#u3969_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3969 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:388px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
  opacity:0.400000005960464;
}
#u3969_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3970 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:388px;
  width:10px;
  height:10px;
  opacity:0.400000005960464;
}
#u3970_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3972_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:27px;
}
#u3972 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:380px;
  width:86px;
  height:26px;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  text-align:left;
  line-height:22px;
}
#u3972_text {
  border-width:0px;
  position:absolute;
  left:8px;
  top:2px;
  width:76px;
  word-wrap:break-word;
}
#u3973_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:10px;
}
#u3973 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:388px;
  width:10px;
  height:10px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  opacity:0.400000005960464;
}
#u3973_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3975_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:23px;
}
#u3975 {
  border-width:0px;
  position:absolute;
  left:41px;
  top:382px;
  width:95px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:22px;
}
#u3975_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  white-space:nowrap;
}
#u3933_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:513px;
  height:531px;
  visibility:hidden;
  background-image:none;
}
#u3933_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:467px;
}
#u3977 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:64px;
  width:492px;
  height:466px;
}
#u3977_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u3978 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:77px;
  width:71px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3978_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:71px;
  white-space:nowrap;
}
#u3979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u3979 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:114px;
  width:71px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3979_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:71px;
  white-space:nowrap;
}
#u3980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u3980 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:241px;
  width:63px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3980_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:63px;
  white-space:nowrap;
}
#u3981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u3981 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:241px;
  width:300px;
  height:33px;
}
#u3981_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3982 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:77px;
  width:99px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3982_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:99px;
  white-space:nowrap;
}
#u3983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u3983 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:301px;
  width:63px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3983_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:63px;
  white-space:nowrap;
}
#u3984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u3984 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:301px;
  width:300px;
  height:33px;
}
#u3984_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:34px;
}
#u3985 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:359px;
  width:63px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3985_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:63px;
  white-space:nowrap;
}
#u3986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u3986 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:359px;
  width:300px;
  height:33px;
}
#u3986_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:21px;
}
#u3987 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:275px;
  width:85px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3987_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u3988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:21px;
}
#u3988 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:337px;
  width:155px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3988_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  white-space:nowrap;
}
#u3989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:21px;
}
#u3989 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:393px;
  width:197px;
  height:20px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3989_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u3990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:493px;
  height:45px;
}
#u3990 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:492px;
  height:44px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  text-align:left;
}
#u3990_text {
  border-width:0px;
  position:absolute;
  left:15px;
  top:12px;
  width:475px;
  word-wrap:break-word;
}
#u3991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3991 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:35px;
  width:15px;
  height:15px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u3991_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3993_img {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:499px;
  height:63px;
}
#u3993 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:474px;
  width:492px;
  height:56px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.427450980392157);
  text-align:left;
  line-height:22px;
}
#u3993_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u3994 {
  border-width:0px;
  position:absolute;
  left:433px;
  top:486px;
  width:61px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3994_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u3995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:43px;
}
#u3995 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:486px;
  width:61px;
  height:32px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.647058823529412);
  line-height:21px;
}
#u3995_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:6px;
  width:29px;
  white-space:nowrap;
}
#u3996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:34px;
}
#u3996 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:112px;
  width:43px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3996_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:43px;
  white-space:nowrap;
}
#u3997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:34px;
}
#u3997 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:155px;
  width:71px;
  height:33px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u3997_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:6px;
  width:71px;
  white-space:nowrap;
}
#u3998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:34px;
}
#u3998 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:155px;
  width:300px;
  height:33px;
  color:#CCCCCC;
  text-align:left;
}
#u3998_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:296px;
  word-wrap:break-word;
}
#u3999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u3999 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:164px;
  width:15px;
  height:15px;
}
#u3999_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4001 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:65px;
}
#u4002 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:50px;
  width:1440px;
  height:64px;
}
#u4002_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1441px;
  height:824px;
}
#u4003 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:114px;
  width:1440px;
  height:823px;
}
#u4003_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:814px;
}
#u4004 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:118px;
  width:224px;
  height:813px;
}
#u4004_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1182px;
  height:815px;
}
#u4005 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:118px;
  width:1181px;
  height:814px;
}
#u4005_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
#u4006 {
  border-width:0px;
  position:absolute;
  left:1272px;
  top:62px;
  width:40px;
  height:40px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4006_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  word-wrap:break-word;
}
#u4007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
}
#u4007 {
  border-width:0px;
  position:absolute;
  left:1322px;
  top:74px;
  width:50px;
  height:16px;
  color:rgba(255, 255, 255, 0.647058823529412);
}
#u4007_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u4008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
}
#u4008 {
  border-width:0px;
  position:absolute;
  left:128px;
  top:74px;
  width:77px;
  height:19px;
  font-family:'黑体  Bold', '黑体 ';
  font-weight:700;
  font-style:normal;
}
#u4008_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  white-space:nowrap;
}
#u4009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:51px;
}
#u4009 {
  border-width:0px;
  position:absolute;
  left:68px;
  top:57px;
  width:50px;
  height:50px;
}
#u4009_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  word-wrap:break-word;
}
#u4010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4011 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4011_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4012 {
  border-width:0px;
  position:absolute;
  left:407px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4012_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4013 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4013_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4014 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
}
#u4014_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:63px;
}
#u4015 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:51px;
  width:40px;
  height:62px;
  font-family:'黑体 Bold', '黑体 Regular', '黑体';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4015_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:23px;
  width:40px;
  word-wrap:break-word;
}
#u4016 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:435px;
  width:1129px;
  height:90px;
}
#u4017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4017 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u4017_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4018 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:116px;
  height:30px;
}
#u4018_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4019 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:0px;
  width:116px;
  height:30px;
}
#u4019_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4020_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u4020 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:0px;
  width:125px;
  height:30px;
}
#u4020_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u4021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u4021 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:0px;
  width:125px;
  height:30px;
}
#u4021_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u4022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4022 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:0px;
  width:116px;
  height:30px;
}
#u4022_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4023 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:116px;
  height:30px;
}
#u4023_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4024 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:0px;
  width:116px;
  height:30px;
}
#u4024_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
}
#u4025 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:0px;
  width:183px;
  height:30px;
}
#u4025_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u4026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4026 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:116px;
  height:30px;
}
#u4026_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4027 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:30px;
  width:116px;
  height:30px;
}
#u4027_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4028 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:30px;
  width:116px;
  height:30px;
}
#u4028_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u4029 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:30px;
  width:125px;
  height:30px;
}
#u4029_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u4030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u4030 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:30px;
  width:125px;
  height:30px;
}
#u4030_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:121px;
  word-wrap:break-word;
}
#u4031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4031 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:30px;
  width:116px;
  height:30px;
}
#u4031_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4032 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:30px;
  width:116px;
  height:30px;
}
#u4032_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4033 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:30px;
  width:116px;
  height:30px;
}
#u4033_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
}
#u4034 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:30px;
  width:183px;
  height:30px;
}
#u4034_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:179px;
  word-wrap:break-word;
}
#u4035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4035 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:116px;
  height:30px;
}
#u4035_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4036 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:60px;
  width:116px;
  height:30px;
}
#u4036_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:112px;
  word-wrap:break-word;
}
#u4037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4037 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:60px;
  width:116px;
  height:30px;
}
#u4037_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u4038 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:60px;
  width:125px;
  height:30px;
}
#u4038_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:31px;
}
#u4039 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:60px;
  width:125px;
  height:30px;
}
#u4039_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4040 {
  border-width:0px;
  position:absolute;
  left:598px;
  top:60px;
  width:116px;
  height:30px;
}
#u4040_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4041 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:60px;
  width:116px;
  height:30px;
}
#u4041_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:31px;
}
#u4042 {
  border-width:0px;
  position:absolute;
  left:830px;
  top:60px;
  width:116px;
  height:30px;
}
#u4042_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:31px;
}
#u4043 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:60px;
  width:183px;
  height:30px;
}
#u4043_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1130px;
  height:41px;
}
#u4044 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:395px;
  width:1129px;
  height:40px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4044_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:12px;
  width:1107px;
  word-wrap:break-word;
}
#u4045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:31px;
}
#u4045 {
  border-width:0px;
  position:absolute;
  left:1355px;
  top:400px;
  width:91px;
  height:30px;
}
#u4045_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:87px;
  word-wrap:break-word;
}
#u4046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:285px;
  height:55px;
}
#u4046 {
  border-width:0px;
  position:absolute;
  left:309px;
  top:122px;
  width:284px;
  height:54px;
  font-family:'黑体';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  line-height:22px;
}
#u4046_img.mouseOver {
}
#u4046.mouseOver {
}
#u4046_text {
  border-width:0px;
  position:absolute;
  left:32px;
  top:16px;
  width:252px;
  word-wrap:break-word;
}
#u4047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u4047 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:198px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4047_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:33px;
}
#u4048 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:198px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4048_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u4049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u4049 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:249px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4049_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:33px;
}
#u4050 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:249px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4050_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u4051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u4051 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:291px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4051_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:33px;
}
#u4052 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:291px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4052_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u4053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:36px;
}
#u4053 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:336px;
  width:71px;
  height:35px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.847058823529412);
  line-height:22px;
}
#u4053_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:71px;
  white-space:nowrap;
}
#u4054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:441px;
  height:33px;
}
#u4054 {
  border-width:0px;
  position:absolute;
  left:442px;
  top:336px;
  width:440px;
  height:32px;
  font-family:'Microsoft YaHei Regular', 'Microsoft YaHei';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:rgba(0, 0, 0, 0.247058823529412);
  text-align:left;
  line-height:22px;
}
#u4054_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:5px;
  width:428px;
  word-wrap:break-word;
}
#u4055 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:712px;
}
#u4056 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:122px;
  width:224px;
  height:711px;
}
#u4056_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4057 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:124px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4057_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4058 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:161px;
  width:187px;
  height:35px;
}
#u4058_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4059 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:198px;
  width:187px;
  height:35px;
}
#u4059_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4060 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:613px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4060_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4061 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:650px;
  width:187px;
  height:35px;
}
#u4061_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4062 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:687px;
  width:187px;
  height:35px;
}
#u4062_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4063 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:748px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4063_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4064 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:785px;
  width:187px;
  height:35px;
}
#u4064_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4065 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:235px;
  width:187px;
  height:35px;
}
#u4065_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4066 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:272px;
  width:187px;
  height:35px;
}
#u4066_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:36px;
}
#u4067 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:364px;
  width:219px;
  height:35px;
  color:#FFFFFF;
}
#u4067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:215px;
  word-wrap:break-word;
}
#u4068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4068 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:402px;
  width:187px;
  height:35px;
}
#u4068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4069 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:440px;
  width:187px;
  height:35px;
}
#u4069_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4070 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:477px;
  width:187px;
  height:35px;
}
#u4070_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4071 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:514px;
  width:187px;
  height:35px;
}
#u4071_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
#u4072_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:36px;
}
#u4072 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:551px;
  width:187px;
  height:35px;
}
#u4072_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  word-wrap:break-word;
}
